page-home {
  .container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    .video{
      flex:1;
      flex-shrink: 0;
      flex-basis: auto;
      background: black;
      &.local{
        border:1px solid green;
      }
      &.remote{
        border:1px solid red;
      }
    }
    .buttons{
      display: flex;
      justify-content: space-around;
      padding:12px;
    }
  }
}
